@{
    //Layout = "~/Themes/NopRoot/Views/Shared/_ColumnsTwoHomepage.cshtml";
    Layout = "~/Themes/NopRoot/Views/Shared/_ColumnsOneHomepage.cshtml";
}
@*@Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })*@
@*@Html.Action("HomepageCategories", "Catalog")*@

<div class="container main-container">

    <!-- Main component call to action -->

    <div class="row featuredPostContainer globalPaddingTop style2">
        @Html.Action("HomepageProducts", "Product")
    </div>
    <!--/.featuredPostContainer-->
</div>
<!-- /main container -->

<div class="container main-container">

    <!-- Main component call to action -->

    <div class="row featuredPostContainer  globalPaddingTop style2">
        @Html.Action("HomepageBestSellers", "Product")
    </div>
    <!--/.featuredPostContainer-->
</div>
<!-- /main container -->

@Html.Action("HomePageNews", "News")
@Html.Action("HomePagePolls", "Poll")
@Html.Widget("home_page_bottom")







