<div class="container">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_Notifications")
        </div>
    </div>
</div>
<div class="navbar navbar-tshop navbar-fixed-top megamenu" role="navigation">
    <div class="navbar-top">
        <div class="container">
            <div class="row">
                @Html.Widget("header")
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                    <div class="pull-left ">
                        <ul class="userMenu ">
                            <li>
                                @Html.Action("TaxTypeSelector", "Common")
                            </li>
                            <li>
                                @Html.Action("CurrencySelector", "Common")
                            </li>
                            <li>
                                @Html.Action("LanguageSelector", "Common")
                            </li>
                            @*<li> <a href="index.html#"> <span class="hidden-xs">HELP</span><i class="glyphicon glyphicon-info-sign hide visible-xs "></i> </a> </li>
                                <li class="phone-number"> <a href="callto:+8801680531352"> <span> <i class="glyphicon glyphicon-phone-alt "></i></span> <span class="hidden-xs" style="margin-left:5px"> 88 01680 53 1352 </span> </a> </li>*@
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 no-margin no-padding">
                    <div class="pull-right">
                        @Html.Action("HeaderLinks", "Common")
                        @*@Html.Action("FlyoutShoppingCart", "ShoppingCart")*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-bottom">
        @Html.Action("TopMenu", "Catalog")
        @Html.Widget("header_selectors")
    </div>
</div>

@*<div class="navbar navbar-default navbar-fixed-top top-menu" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".test">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse test">


            </div>
        </div>
    </div>*@





