
<div class="top-menu" >
    <div class="container">
        <div class="row">
            @Html.Widget("header")
        </div>
            <div class="row">
                @Html.Action("HeaderLinks", "Common")
            </div>
            
            @*@Html.Action("FlyoutShoppingCart", "ShoppingCart")*@
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_Notifications")
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="title-box">
            <div class="col-lg-4">
                <a href="@Url.RouteUrl("HomePage")" class="logo">&nbsp; </a>
            </div>


            <div class="col-md-8">
                <div class="search-box col-md-8 pull-right">
                    @Html.Action("SearchBox", "Catalog")
                </div>
        
                @Html.Widget("header_selectors")
            </div>    
        </div>
            
    </div>
    
</div>
<div class="down-space-30"></div>


