@model CategoryNavigationModel
@using Nop.Web.Models.Catalog;

@functions{
    public bool BreadCrumbContainsCurrentCategoryId(CategorySimpleModel category)
    {
        if (Model.CurrentCategoryId == 0)
            return false;

        if (category.Id == Model.CurrentCategoryId)
            return true;

        foreach (var subCategory in category.SubCategories)
        {
            if (BreadCrumbContainsCurrentCategoryId(subCategory))
            {
                return true;
            }
        }

        return false;
    }
}
@helper RenderCategoryLine(CategorySimpleModel category)
{
    <div class="list-group-item @(category.Id == Model.CurrentCategoryId ? "active" : "inactive")">

        <i class="fa fa-angle-right"></i>&nbsp;<a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">
            @category.Name
            @if (category.NumberOfProducts.HasValue)
            {
                <span class="op-number">
                    @if (category.NumberOfProducts <= 9)
                    {
                       @:(@(category.NumberOfProducts.Value))
                                                }
                    else
                    {
                        @:(@(category.NumberOfProducts.Value))
                    }
                </span>
            }
        </a>
    </div>

    if (category.Id == Model.CurrentCategoryId ||
        category.SubCategories.Count(BreadCrumbContainsCurrentCategoryId) > 0)
    {
        if (category.SubCategories.Count > 0)
        {

            <div class="v-menu-list list-group">


                @foreach (var subCategory in category.SubCategories)
                {
                    @RenderCategoryLine(subCategory)
                }

            </div>
        }
    }

}
@if (Model.Categories.Count > 0)
{
    <div class="box-panel panel panel-default side-nav side-nav-category">
        <div class="panel-heading">
            <strong>@T("Categories")</strong>
        </div>
        <div class="box-bottom-border"></div>
        <div class="panel-body">
            <div class="v-menu-list list-group" id="accordion">
                @foreach (var category in Model.Categories)
                {
                    

                        @RenderCategoryLine(category)

                   
                }
            </div>

        </div>

    </div>
}