@model TopMenuModel
@using System.Text.RegularExpressions
@using Nop.Web.Models.Catalog;

@{
    var isRtl = this.ShouldUseRtlTheme();
}

@using Nop.Core.Infrastructure;
@using Nop.Services.Security;
@using Nop.Core.Domain.Orders;
@using Nop.Services.Orders;
@{

    var shoppingCartEnabled = EngineContext.Current.Resolve<IPermissionService>().Authorize(StandardPermissionProvider.EnableShoppingCart);
    var shoppingCartItems = 0;
    if (shoppingCartEnabled)
    {

        shoppingCartItems = EngineContext.Current.Resolve<Nop.Core.IWorkContext>().CurrentCustomer.ShoppingCartItems
                    .Where(sci => sci.ShoppingCartType == ShoppingCartType.ShoppingCart)
                    .Where(sci => sci.StoreId == EngineContext.Current.Resolve<Nop.Core.IStoreContext>().CurrentStore.Id)
                    .ToList()
                    .GetTotalProducts();
    }

}
@helper Bracket_Remover(string input)
{
    int index1 = input.IndexOf('(');
    string result = input.Remove(index1, 1);

    index1 = result.IndexOf(')');
    result = result.Remove(index1, 1);

    @Html.Raw(@result)



}
@helper RenderSubCategoryLine(CategorySimpleModel category, int level)
{
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            @category.Name
            &nbsp;<i class="fa fa-angle-down"></i>



        </a>
        <ul class="dropdown-menu">
            @foreach (var subCategory in category.SubCategories)
            {
                @RenderCategoryLine(subCategory, level + 1)
            }
        </ul>

    </li>
}

@helper RenderCategoryLine(CategorySimpleModel category, int level)
{
    if (category.SubCategories.Count > 0)
    {
        @RenderSubCategoryLine(category, 0)
    }
    else
    {
        <li>
            <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">
                @category.Name


            </a>
        </li>
    }
}



<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only"> Toggle navigation </span> <span class="icon-bar"> </span> <span class="icon-bar"> </span> <span class="icon-bar"> </span> </button>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-cart"> <i class="fa fa-shopping-cart"> </i> <span class="cartRespons">Cart:</span><span class="cart-qty">@T("ShoppingCart.HeaderQuantity", shoppingCartItems)</span></button>
        <a class="navbar-brand" href="@Url.RouteUrl("HomePage")"><img class="img-responsive" alt="Shop" src="~/Themes/ShopT/Content/images/logo.png" /></a>
        <!-- this part for mobile -->
        <div class="search-box pull-right hidden-lg hidden-md hidden-sm">
            <div class="input-group">
                <button class="btn btn-nobg getFullSearch" type="button"> <i class="fa fa-search"> </i> </button>
            </div>
            <!-- /input-group -->

        </div>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            @Html.Widget("header_menu_before")
            <li><a href="@Url.RouteUrl("HomePage")"><span class="glyphicon glyphicon-home"></span></a></li>
            @if (Model.Categories.Count > 0)
            {
                foreach (var category in Model.Categories)
                {
                    @RenderCategoryLine(category, 0)
                }
            }
            else
            {
                //no categories to display?
                //in this cae let's diplay some default menu items
                <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
                if (Model.RecentlyAddedProductsEnabled)
                {
                    <li>
                        <a href="@Url.RouteUrl("RecentlyAddedProducts")">@T("Products.NewProducts")</a>
                    </li>
                }
                <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
                <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
                if (Model.BlogEnabled)
                {
                    <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
                }
                if (Model.ForumEnabled)
                {
                    <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
                }
                <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
            }
            @Html.Widget("header_menu_after")
        </ul>
        <!--- this part will be hidden for mobile version -->
        <div class="nav navbar-nav navbar-right hidden-xs">
            @if (shoppingCartEnabled)
            {
                <div id="topcartlink" class="dropdown  cartMenu">

                    <a href="@Url.RouteUrl("ShoppingCart")" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-shopping-cart"> </i> <span class="cartRespons">@T("ShoppingCart")</span><span class="cart-qty">@T("ShoppingCart.HeaderQuantity", shoppingCartItems)</span> <b class="caret"> </b>
                    </a>
                    <div class="dropdown-menu col-lg-4 col-xs-12 col-md-4 ">
                        @Html.Action("FlyoutShoppingCart", "ShoppingCart")
                    </div>
                    <!--/.dropdown-menu-->
                </div>
			  <!--/.cartMenu-->

            }


            <div class="search-box">
                <div class="input-group">
                    <button class="btn btn-nobg getFullSearch" type="button"> <i class="fa fa-search"> </i> </button>
                </div>
                <!-- /input-group -->

            </div>
            <!--/.search-box -->
        </div>
        <!--/.navbar-nav hidden-xs-->
    </div>
    <!--/.nav-collapse -->

</div>
<!--/.container -->
<div class="search-full text-right">
    <a class="pull-right search-close"> <i class=" fa fa-times-circle"> </i> </a>
    <div class="searchInputBox pull-right">
        @Html.Action("SearchBox", "Catalog")
    </div>
</div>
<!--/.search-full-->

                @*<nav role="navigation" class="navbar navbar-inverse">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                @Html.Widget("header_menu_before")
                                <li><a href="@Url.RouteUrl("HomePage")"><span class="glyphicon glyphicon-home"></span></a></li>
                                @if (Model.Categories.Count > 0)
                                {
                                    foreach (var category in Model.Categories)
                                    {
                                        @RenderCategoryLine(category, 0)
                                    }
                                }
                                else
                                {
                                    //no categories to display?
                                    //in this cae let's diplay some default menu items
                                    <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
                                    if (Model.RecentlyAddedProductsEnabled)
                                    {
                                        <li>
                                            <a href="@Url.RouteUrl("RecentlyAddedProducts")">@T("Products.NewProducts")</a>
                                        </li>
                                    }
                                    <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
                                    <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
                                    if (Model.BlogEnabled)
                                    {
                                        <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
                                    }
                                    if (Model.ForumEnabled)
                                    {
                                        <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
                                    }
                                    <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
                                }
                                @Html.Widget("header_menu_after")
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>*@


                @*<script type="text/javascript">
                        $(function () {
                            // Call stylesheet init so that all stylesheet changing functions
                            // will work.
                            $.stylesheetInit();

                            // This code loops through the stylesheets when you click the link with
                            // an ID of "toggler" below.
                            $('#toggler').bind(
                                'click',
                                function (e) {
                                    $.stylesheetToggle();
                                    return false;
                                }
                            );

                            // When one of the styleswitch links is clicked then switch the stylesheet to
                            // the one matching the value of that links rel attribute.
                            $('.styleswitch').bind(
                                'click',
                                function (e) {
                                    $.stylesheetSwitch(this.getAttribute('rel'));
                                    return false;
                                }
                            );


                            $("#configure-button").on("click", function (e) {
                                e.preventDefault();
                                if ($(this).data("expanded") == "true") {
                                    $("#color-options").css({ right: '-140px' });
                                    $("#configure-button").css({ right: '0px' });
                                    $(this).data("expanded", "false");
                                } else {
                                    $("#color-options").css({ right: '0px' });
                                    $("#configure-button").css({ right: '140px' });
                                    $(this).data("expanded", "true");
                                }

                            });


                        });

                    </script>*@

